<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <title>JSGrid with Ruby on Rails Sample</title>
</head>
<body>
<header>
    <h1>JSGrid and Ruby on Rails Sample</h1>
</header>

<%= yield %>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<%= yield :scripts %>

</body>
</html>