<h1>Edit Client</h1>
<%= form_for :client, url: client_path(@client), method: :patch do |f| %>
    <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :age %><br />
        <%= f.number_field :age %>
    </p>
    <p>
        <%= f.label :address %><br />
        <%= f.text_field :address %>
    </p>
    <p>
        <%= f.label :married %><br />
        <%= f.check_box :married %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>
<%= link_to 'Client List', clients_path %>