<h1>Client List</h1>

<%= link_to 'Add Client', new_client_path %>
<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Married</th>
        <th></th>
    </tr>
    <% @clients.each do |client| %>
    <tr>
        <td><%= client.name %></td>
        <td><%= client.age %></td>
        <td><%= client.address %></td>
        <td><%= client.married %></td>
        <td>
            <%= link_to 'Show', client_path(client) %> |
            <%= link_to 'Edit', edit_client_path(client) %> |
            <%= link_to 'Delete', client_path(client), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
    </tr>
    <% end %>
</table>