<h1>Client Details</h1>
<p><strong>Name:</strong> <%= @client.name %></p>
<p><strong>Age:</strong> <%= @client.age %></p>
<p><strong>Address:</strong> <%= @client.address %></p>
<p><strong>Married:</strong> <%= @client.married %></p>
<%= link_to 'Client List', clients_path %>